#MozillaGtkWidget {
  > widget {
    text { background-color: $background-1; }

    text:selected {
      background-color: $primary-accent;
      color: $background-1;
    }

    > entry,
    > button > button {
      border-radius: $corner-radius;
      box-shadow: none;
    }
  }

  // remove ugly border around menu on firefox
  menu { border: none; }
}
